<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://ns.adobe.com/air/application/3.2">
    <id>com.yourdomain.::name::</id>
    <versionNumber>1.0.0</versionNumber>
    <filename>::capitalName::</filename>
    <initialWindow>
      <content>main-air.swf</content>
      <renderMode>direct</renderMode>
    </initialWindow>
</application>
